.rangePicker ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.rangePicker {
    margin: 1vw;
}



.button {
    height: 3rem;
    width: 6rem;
    color: black;
    font-size: 2rem;
    border: 1px solid black;
    padding: auto;
    padding-left: 1.5rem;
    cursor: pointer;

    &--active{
        height: 3rem;
        width: 6rem;
        background: black;
        color: white;
        font-size: 2rem;
        border: 1px solid black;
        padding: 0 auto;
        padding-left: 1.5rem;
        cursor: pointer;
    }
    &:not(:last-child) {
        border-right: none;
    }
}